<template name="MasterLayout">
  {{#ionBody}}

    {{#ionSideMenuContainer side="left"}}
      {{#ionSideMenus}}
        {{#ionSideMenu}}
          <div class="bar bar-header">
            <div class="title">
              <img
                  src="https://cdn.trail-status.com/images/trailstatus-dark.svg"/>
            </div>
          </div>
          {{#ionContent }}
            <div class="list">
              {{#linkTo route="trails" id="my-trails"}}
                <div class="item item-icon-left" data-ion-menu-close>
                  <i class="icon ion-home"></i>My Trails
                </div>
              {{/linkTo}}
              {{#if currentUser}}
                {{#if isInRole 'trail-images'}}
                  {{#linkTo route="images"}}
                    <div class="item item-icon-left" data-ion-menu-close>
                      <i class="icon ion-image"></i> Trail Images
                      {{#if imageCount}}
                        <span
                            class="badge badge-assertive">{{imageCount}}</span>
                      {{/if}}
                    </div>
                  {{/linkTo}}
                {{/if}}
                {{#if isInRole 'add-trails'}}
                  {{#linkTo route="trails.pending"}}
                    <div class="item item-icon-left" data-ion-menu-close>
                      <i class="icon ion-map"></i> Trails
                      {{#if trailCount}}
                        <span
                            class="badge badge-assertive">{{trailCount}}</span>
                      {{/if}}
                    </div>
                  {{/linkTo}}
                {{/if}}
                {{#linkTo route="trails.new"}}
                  <div class="item item-icon-left" data-ion-menu-close>
                    <i class="icon ion-plus-round"></i>Add a trail!
                  </div>
                {{/linkTo}}
                <div class="item item-icon-left"
                     id="feedback" data-ion-menu-close>
                  <i class="icon ion-android-contact"></i> Feedback
                </div>
                <div class="item item-icon-left"
                     id="share-rewards" data-ion-menu-close>
                  <i class="icon ion-share"></i> Share
                </div>
                {{#unless currentUser.services.facebook }}
                  <div class="item item-icon-left facebook" data-ion-menu-close>
                    <i class="icon ion-social-facebook"></i>Connect
                  </div>
                {{/unless}}
                {{#unless currentUser.services.strava }}
                  <div class="item item-icon-left strava" data-ion-menu-close>
                    <img class="icon icon-strava"
                         src="https://cdn.trail-status.com/images/strava.svg"/>
                    Connect
                  </div>
                {{/unless}}
                {{#linkTo route="atSignOut"}}
                  <div class="item item-icon-left" data-ion-menu-close>
                    <i class="icon ion-log-out"></i> Sign Out
                  </div>
                {{/linkTo}}
              {{else}}
                {{#linkTo route="atSignIn"}}
                  <div class="item item-icon-left" data-ion-menu-close>
                    <i class="icon ion-log-in"></i> Sign In
                  </div>
                {{/linkTo}}
              {{/if}}
            </div>
          {{/ionContent}}
          {{#ionFooterBar class="bar-copyright"}}
            <p class="text-center copyright-app">&copy; {{year}} Yazda LLC. All
                                                                 Rights
                                                                 Reserved.</p>
          {{/ionFooterBar}}
        {{/ionSideMenu}}
      {{/ionSideMenus}}
      {{#ionSideMenuContent}}
        {{> ionNavBar class="bar-dark"}}
        {{#ionNavView}}
          {{> status}}
          {{> yield}}
        {{/ionNavView}}
      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}
</template>
