<head>
  <meta charset="utf-8">
  <title>Trail Status</title>
  <meta name="google-site-verification" content="Y_KVnQ_kTZWmYiuaHkXy0Jfbd2q5ezsnivp4XiEU6ZU" />
  <meta property="fb:app_id" content="881735831914137">
  <meta property="al:android:url" content="https://play.google.com/store/apps/details?id=com.yazda.trail_status_android">
  <meta property="al:android:package" content="com.yazda.trail_status_android">
  <meta property="al:android:app_name" content="Trail Status">
  <meta property="al:iphone:url" content="https://itunes.apple.com/us/app/trail-status/id1046598022?ls=1&mt=8">
  <meta property="al:iphone:app_store_id" content="1046598022">
  <meta property="al:iphone:app_name" content="Trail Status">
  <meta property="fb:pages" content="1659808200935572">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <link rel="icon" sizes="16x16 32x32" href="/images/favicon.ico?v=2">
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1041067409260335');
    fbq('track', "PageView");</script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=1041067409260335&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCducAa2gKSW_eJTn7gs6w4JddjVRib65c"></script>
</head>
