<template name="ImagesIndex">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      <img src="https://cdn.trail-status.com/images/menu.svg"
           class="icon"/>
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <img
        src="https://cdn.trail-status.com/images/trail-status-logo-text.svg"
        class="logo-header"/>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list images full">
        {{#each trails}}
          <div class="trail-image item"
               style="background: url('https://cdn.trail-status.com{{url}}')">
            <h2>{{trail.name}}</h2>
            <div class="inner-wrapper">
              <div class="row">
                <div class="col-50">
                  <button class="button button-block button-clear approve
                  button-balanced icon-left ion-thumbsup">Approve</button>
                </div>
                <div class="col-50">
                  <button class="button button-block button-clear reject
                  button-assertive icon-left ion-thumbsdown">Reject</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
