/* ------------------------------------------------------------------------ */
/* GOOGLE WEB FONTS
/* ------------------------------------------------------------------------ */
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800);

.home {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #363F48;
    background: #FFFFFF
}

a {
    text-decoration: none;
    color: #2FCC61;
}

a:hover {
    text-decoration: none;
}

a:hover, a:active, a:focus, object, embed, input::-moz-focus-inner {
    outline: 0
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

.clear {
    display: block;
    width: 100%;
    float: left;
    clear: both;
}

section {
    position: relative
}

/* ------------------------------------------------------------------------ */
/* HEADER SECTION
/* ------------------------------------------------------------------------ */

#header {
    text-align: center;
    margin-bottom: 0px;
    background: url(https://cdn.trail-status.com/images/header-backgrounds/back1.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: #151515;
}

/* ------------------------------------------------------------------------ */
/* LOGO
/* ------------------------------------------------------------------------ */
#logo {
    text-align: center;
    padding-top: 10px;
}

#logo p {
    margin: 5px 0 5px 0;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-shadow: 1px 1px rgba(0, 0, 0, .25)
}

#logo h1 {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0 0 0 0;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4)
}

/* ------------------------------------------------------------------------ */
/* SLIDER CONTAINER
/* ------------------------------------------------------------------------ */
#slider-container {
    text-align: left;
    margin-top: 80px;
    float: left;
}

/* ------------------------------------------------------------------------ */
/* IPHONE 4S SLIDER WITH HAND
/* ------------------------------------------------------------------------ */
#iphone4S-handslider {
    background-image: url(https://cdn.trail-status.com/images/devices/iphone4-handblack.png);
    width: auto;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-left: 8px;
    overflow: hidden;
    height: 648px
}

#iphone4S-handslider.white {
    background-image: url(https://cdn.trail-status.com/images/devices/iphone4-hand.png);
}

#iphone4S-handslider .flexslider, #iphone4S-handslider .fixed-video-block {
    left: 268px;
    top: 85px;
    width: 212px;
}

/* ------------------------------------------------------------------------ */
/* IPHONE 5 SLIDER WITH HAND
/* ------------------------------------------------------------------------ */
#iphone5-handslider {
    background-image: url(https://cdn.trail-status.com/images/devices/iphone5-handblack.png);
    background-repeat: no-repeat;
    margin-top: 0;
    margin-left: -220px;
    overflow: hidden;
    height: 689px;
    width: 564px;
}

#iphone5-handslider.white {
    background-image: url(https://cdn.trail-status.com/images/devices/iphone5-hand.png);
}

#iphone5-handslider .flexslider,
#iphone5-handslider .fixed-video-block {
    left: 266px;
    top: 70px;
    width: 216px;
}

/* ------------------------------------------------------------------------ */
/* IPHONE 4S SLIDER
/* ------------------------------------------------------------------------ */
#iphone4S-slider {
    background-image: url(https://cdn.trail-status.com/images/devices/iphone4sblack.png);
    width: auto;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 200px;
    overflow: hidden;
    height: 530px;
}

#iphone4S-slider.white {
    background-image: url(https://cdn.trail-status.com/images/devices/iphone4s.png);
}

#iphone4S-slider .flexslider, #iphone4S-slider .fixed-video-block {
    width: 284px;
    left: 23px;
    top: 108px;
}

/* ------------------------------------------------------------------------ */
/* IPHONE 5 SLIDER
/* ------------------------------------------------------------------------ */
#iphone5-slider {
    background-image: url(https://cdn.trail-status.com/images/devices/iphone5black.png);
    width: auto;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 200px;
    overflow: hidden;
    height: 598px;
}

#iphone5-slider.white {
    background-image: url(https://cdn.trail-status.com/images/devices/iphone5.png);
}

#iphone5-slider .flexslider, #iphone5-slider .fixed-video-block {
    width: 284px;
    left: 22px;
    top: 97px;
}

#iphone5-slider .flexslider {
    border: none;
}

/* ------------------------------------------------------------------------ */
/* SLIDER DESCRIPTIONS
/* ------------------------------------------------------------------------ */

#slider-description {
    margin-top: 120px;
}

#slider-description:after {
    clear: both;
    content: '';
    display: table;
}

#slider-description h2 {
    font-size: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.1;
}

#slider-description p {
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
    width: 75%;
}

/* ------------------------------------------------------------------------ */
/* PURCHASE/DOWNLOAD BUTTONS
/* ------------------------------------------------------------------------ */

.download-btn {
    float: left;
    margin: 10px 0 0 0;
    width: 200px;
    height: 60px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.download-btn:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.applestore {
    background-image: url(https://cdn.trail-status.com/images/applestore.png);
}

.applestore:hover {
    background-image: url(https://cdn.trail-status.com/images/applestore_hover.png);
}

.googleplay {
    background-image: url(https://cdn.trail-status.com/images/googleplay.png);
}

.googleplay:hover {
    background-image: url(https://cdn.trail-status.com/images/googleplay_hover.png);
}

.androidmarket {
    background-image: url(https://cdn.trail-status.com/images/androidmarket.png);
}

.androidmarket:hover {
    background-image: url(https://cdn.trail-status.com/images/androidmarket_hover.png);
}

/* ------------------------------------------------------------------------ */
/* FOOTER SECTION
/* ------------------------------------------------------------------------ */

footer {
    background: #363F48;
    color: #FFFFFF;
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
    position: relative;
    text-align: center;
}

.copyright-left {
    line-height: 40px;
    float: left
}

footer a {
    text-decoration: none
}

footer a:hover {
    color: #FFFFFF !important;
    text-decoration: none
}

.copyright-right {
    float: right;
    line-height: 40px;
    margin: 0
}

footer a {
    color: #2FCC61
}

/* ------------------------------------------------------------------------ */
/* SERVICE BOXES
/* ------------------------------------------------------------------------ */
.widget {
    background-color: #69727B;
}

.widget h1 {
    text-align: center;
    font-size: 40px;
    margin: 40px 0 !important;
}

.widget h5 {
    margin: 20px;
    text-align: justify;
}

.rnr-service-box-center {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.rnr-service-box-center .rnr-service-box-icon {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.rnr-service-box-center .rnr-service-box-icon {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.rnr-service-box-center .rnr-service-box-title {
    margin-bottom: 5px;
    text-align: center;
    display: block;
    color: #2FCC61;
    font-weight: normal;
}

.rnr-service-box-center .rnr-service-box-content p {
    display: block;
    clear: both;
    text-align: center;
}

.rnr-service-box-content p {
    display: block;
    clear: both;
}

.container .rnr-service-box-center {
    border-right: 1px solid #F0F0F0;
}

.container [class*="span"]:last-child .rnr-service-box-center {
    border-right: none;
}

/* ------------------------------------------------------------------------ */
/* SERVICE BOXES LEFT
/* ------------------------------------------------------------------------ */
.rnr-service-box-left {
    position: relative;
    margin-bottom: 15px;
}

.rnr-service-box-left .rnr-service-box-icon {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
}

.rnr-service-box-left .rnr-service-box-content {
    margin-left: 70px;
}

.rnr-service-box-left .rnr-service-box-icon img {
    max-width: 60px;
}

.rnr-service-box-left .rnr-service-box-title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2FCC61;
}

.rnr-service-box-left .rnr-service-box-content p {
    display: block;
    clear: both;
    width: 60%;
}

/* ------------------------------------------------------------------------ */
/* BUTTONS
/* ------------------------------------------------------------------------ */
.button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 -20px 50px rgba(0, 0, 0, .1), inset 0 1px 1px rgba(255, 255, 255, .3);
    background: #2FCC61;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.2));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.2)));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.2));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));

    padding: 0px 15px 4px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #2FCC61;
    border-bottom: none;
    font-weight: 300;
    line-height: 40px;
    height: 40px;
    transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    display: inline-block;
}

.button:hover {
    background: #2FCC61;
}

/* ------------------------------------------------------------------------ */
/* PRICING TABLES
/* ------------------------------------------------------------------------ */
.pricing-table {
    margin-top: 60px;
    margin-bottom: 30px;
}
.pricing-table:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
    border-left: 1px solid #CFD8E1;
}
.pricing-column {
    float: left;
    text-align: center;
    padding: 0px;
    background-color: #9CA5AE;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    box-shadow: 0px 0px 0px 5px #f5f5f5;
    -webkit-backface-visibility: hidden;
}
.pricing-column .pricing-column-content {
    border-right: 1px solid #CFD8E1;
    border-bottom: 1px solid #CFD8E1;
    padding: 0px 0px 20px 0px;
}
.pricing-column.highlight {
    position: relative;
    z-index: 100;
    margin: -36px -1px 0px -1px;
    background-color: #FFF;
    -moz-box-shadow: 0px 0px 0px 5px #f5f5f5;
    -webkit-box-shadow: 0px 0px 0px 5px #f5f5f5;
    -o-box-shadow: 0px 0px 0px 5px #f5f5f5;
    box-shadow: 0px 0px 0px 5px #f5f5f5;
}
.pricing-column-content img {
    height: 214px;
}

.pricing-column.highlight .button {
    margin: 10px 0px 14px 0px;
}
.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3 {
    border: none;
}
.pricing-column.highlight h3 .highlight-reason {
    display: block;
    font-size: 12px;
}
.pricing-column.highlight .pricing-column-content {
    border-right: 1px solid #CFD8E1 !important;
    border-left: 1px solid #CFD8E1 !important;
    border-bottom: 1px solid #CFD8E1 !important;
}
.pricing-column.highlight:hover {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    overflow: hidden;
}
.pricing-column:hover {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    -moz-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
    z-index: 10;
    overflow: hidden;
}
.pricing-column ul li {
    padding: 10px 25px;
    list-style: none;
    line-height: 18px;
    border-bottom: 1px solid #efefef;
}
.pricing-column ul li:first-child {
    border-top: 1px solid #CFD8E1;
}
.pricing-column ul li:nth-child(2n+1) {
    background-color: #B6BFC8;
}
.pricing-column.highlight h3 {
    color: #fff!important;
    background-color: #2FCC61;
    padding: 23px 0px;
    font-size: 34px;
}
.pricing-column h3 {
    background-color: #999;
    /*color: #2FCC61;*/
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 28px;
    border-right: 1px solid #CFD8E1;
    border-bottom: 1px solid #CFD8E1;
    border-top: 1px solid #CFD8E1;
    padding: 18px 0px 18px 0px;
    text-transform: uppercase;
    font-weight: 500;
}
.pricing-column h4 {
    margin-left: -22px;
    padding: 20px 30px 6px 30px;
    font-size: 54px;
    line-height: 42px;
    color: #2FCC61;
    margin-bottom: 0px;
    font-weight: 400;
}
.pricing-column h4 .dollar-sign {
    font-size: 22px;
    line-height: 22px;
    top: -14px;
    right: -6px;
    font-family: 'Open Sans';
    position: relative;
}
.pricing-column .interval {
    display: block;
    color: #999;
    min-height: 38px;
    display: block;
    padding-bottom: 17px;
}
.pricing-column ul {
    margin-left: 0px;
    margin-bottom: 18px;
}
.pricing-table.six > div {
    width: 16.5%;
}
.pricing-table.five > div {
    width: 20%;
}
.pricing-table.four > div {
    width: 25%;
}
.pricing-table.three > div {
    width: 33.2%;
}
.pricing-table.two > div {
    width: 50%;
}
.pricing-table .col {
    padding: 0px 20px;
}

/* ------------------------------------------------------------------------ */
/* COPYRIGHT SECTION
/* ------------------------------------------------------------------------ */
.copyright {
    margin-top: 0px;
    padding: 30px 0;
    background: #1A1A1A;
}

ul.footer-menu {
    font-size: 12px;
    padding-left: 5px;
    height: 40px;
}

ul.footer-menu {
    margin: 0;
    float: left;
}

ul.footer-menu > li {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    font-weight: bold;
    position: relative;
}

@media (min-width: 768px) {
    .animated {
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }
    @-moz-keyframes fadeInUp {
        0% {
            opacity: 0;
            -moz-transform: translateY(20px);
        }
        100% {
            opacity: 1;
            -moz-transform: translateY(0);
        }
    }
    @-o-keyframes fadeInUp {
        0% {
            opacity: 0;
            -o-transform: translateY(20px);
        }
        100% {
            opacity: 1;
            -o-transform: translateY(0);
        }
    }
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        -moz-animation-name: fadeInUp;
        -o-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }

    @-webkit-keyframes rotateInUpLeft {
        0% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(10deg);
            opacity: 0;
        }
        100% {
            -webkit-transform-origin: left bottom;
            -webkit-transform: rotate(0);
            opacity: 1;
        }
    }
    @-moz-keyframes rotateInUpLeft {
        0% {
            -moz-transform-origin: left bottom;
            -moz-transform: rotate(10deg);
            opacity: 0;
        }
        100% {
            -moz-transform-origin: left bottom;
            -moz-transform: rotate(0);
            opacity: 1;
        }
    }
    @-o-keyframes rotateInUpLeft {
        0% {
            -o-transform-origin: left bottom;
            -o-transform: rotate(10deg);
            opacity: 0;
        }
        100% {
            -o-transform-origin: left bottom;
            -o-transform: rotate(0);
            opacity: 1;
        }
    }
    @keyframes rotateInUpLeft {
        0% {
            transform-origin: left bottom;
            transform: rotate(10deg);
            opacity: 0;
        }
        100% {
            transform-origin: left bottom;
            transform: rotate(0);
            opacity: 1;
        }
    }
    .rotateInUpLeft {
        -webkit-animation-name: rotateInUpLeft;
        -moz-animation-name: rotateInUpLeft;
        -o-animation-name: rotateInUpLeft;
        animation-name: rotateInUpLeft;
        z-index: 0;
    }

    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translateX(30px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }
    @-moz-keyframes fadeInRight {
        0% {
            opacity: 0;
            -moz-transform: translateX(30px);
        }
        100% {
            opacity: 1;
            -moz-transform: translateX(0);
        }
    }
    @-o-keyframes fadeInRight {
        0% {
            opacity: 0;
            -o-transform: translateX(30px);
        }
        100% {
            opacity: 1;
            -o-transform: translateX(0);
        }
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(30px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        -moz-animation-name: fadeInRight;
        -o-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }

    .delay2s {
        animation-delay: 2s /* W3C and Opera */;
        -moz-animation-delay: 2s /* Firefox */;
        -webkit-animation-delay: 2s /* Safari and Chrome */;
    }

    .delay3s {
        animation-delay: 3s /* W3C and Opera */;
        -moz-animation-delay: 3s /* Firefox */;
        -webkit-animation-delay: 3s /* Safari and Chrome */;
    }

}

@media (max-width: 767px) {
    body {
        padding: 0 !important;
    }

    .container {
        position: relative;
    }

    #slider-container {
        margin-top: 20px;
    }

    #slider-container h2 {
        font-size: 26px;
    }

    #slider-container p {
        width: 100%;
    }

    .container .rnr-service-box-center {
        border: none;
    }

    .fullwidth .img-container {
        float: none;
    }

    .rnr-service-box-left .rnr-service-box-content p {
        width: 100%;
    }

    .copyright {
        text-align: center;
    }

    .copyright-left, .copyright-right {
        float: none;
        display: block;
        widt: 100%;
        padding: 5px 0;
        line-height: 1.8;
    }

    ul.footer-menu {
        float: none;
    }

    ul.footer-menu li {
        float: none;
        display: inline-block;
    }

    .pricing-table > div {
        width:100% !important;
        margin:10px 0 !important;
    }
    .pricing-column:hover {
        -webkit-transform: none !important;
        -moz-transform:  none !important;
        transform:  none !important;
    }
}

/* iPhone landscape */
@media (min-width: 480px) and (max-width: 767px) {

    .container {
        width: 460px;
    }

    #iphone4S-handslider,
    #iphone5-handslider {
        margin-left: -140px;
        margin-top: 0;
        overflow: hidden;
        height: 414px;
        position: absolute;
        bottom: 0;
        width: 569px;
    }

    #iphone5-handslider {
        height: 450px;
    }

    #slider-description {
        margin-top: 25px;
        margin-bottom: 620px;
        padding: 0 10px;
    }

    #iphone4S-slider,
    #iphone5-slider {
        margin-top: 36px;
        overflow: hidden;
        height: 530px;
        position: absolute;
        bottom: 0;
        margin-left: 38px;
        width: 327px;
    }
}

/* iPhone (portrait) */
@media (max-width: 479px) {

    .container {
        width: 300px;
    }

    #iphone4S-handslider,
    #iphone5-handslider {
        margin-left: -250px;
        margin-top: 0;
        overflow: hidden;
        height: 414px;
        position: absolute;
        bottom: 0;
        width: 569px;
    }

    #iphone5-handslider {
        height: 450px;
    }

    #slider-description {
        margin-top: 20px;
        margin-bottom: 570px;
        padding: 0 10px;
    }

    #iphone4S-slider,
    #iphone5-slider {
        margin-top: 36px;
        overflow: hidden;
        height: 530px;
        position: absolute;
        bottom: 0;
        margin-left: -15px;
        width: 327px;
    }
}

/* iPad (portrait) */
@media (min-width: 768px) and (max-width: 959px) {

    #iphone4S-handslider,
    #iphone5-handslider {
        margin-left: -220px;
    }

    #iphone4S-slider,
    #iphone5-slider {
        margin-left: 0px;
    }

    #slider-description {
        margin-top: 50px;
    }

    #slider-container h2 {
        font-size: 26px;
    }

    #slider-container p {
        width: 100%;
    }

    .pricing-column h3 {
        font-size:20px !important;

    }
}

@media (min-width: 960px) and (max-width: 979px) {

    #iphone4S-handslider,
    #iphone5-handslider {
        margin-left: -220px;
    }

    #iphone4S-slider,
    #iphone5-slider {
        margin-left: 0px !important;
    }

    #slider-description {
        margin-top: 40px;
    }

    #slider-container h2 {
        font-size: 32px;
    }

    #slider-container p {
        width: 100%;
    }

    .pricing-column h3 {
        font-size:22px !important;

    }
}

@media (min-width: 980px) and (max-width: 1200px) {

    #iphone4S-handslider,
    #iphone5-handslider {
        margin-left: -124px;
    }

    #iphone4S-slider,
    #iphone5-slider {
        margin-left: 120px;
    }

    #slider-description {
        margin-top: 80px;
    }

}

@media (min-width: 1200px) {
    #iphone4S-handslider,
    #iphone5-handslider {
        margin-left: 8px;
    }
}

p.socialshare {
    float: left;
    margin-top: 10px;
}

.fbshare, .twshare {
    margin: 0 5px;
}

.fbshare i, .twshare i {
    font-size: 40px;
    background: #FFFFFF;
    line-height: 32px;
    border-radius: 7px;
    width: 33px;
    text-shadow: none;
}

.fbshare i {
    color: #3B5998;
}

.twshare i {
    color: #55ACEE;
}

#tophead {
    background: #FFFFFF;
    padding: 10px;
    text-align: left;
}

#tophead .container {
    padding: 0;
    line-height: 0;
}

#tophead a {
    overflow: hidden;
    display: inline-block;
    line-height: 1;
}

.home.has-footer {
    bottom: 0;
}

.trails {
    margin: 5px 0;
    font-size: 22px;
    height: 100%;
}

.checkmark {
    height: 19px !important;
    vertical-align: middle;
}
