.at-form {
  background: #1a1a1a;
  height: 100%;

  .item {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    padding-left: 0;
    padding-right: 0;

    .at-title {
      h3 {
        color: #FFFFFF;
      }
    }
  }

  .at-input {
    input {
      width: 100%;
      text-align: center;
      margin-bottom: 7px;
    }
  }
}

#at-facebook, #at-strava {
  background: none;
  color: #299854;

  &:hover {
    background: none;
  }

  img {
    height: 14px;
  }
}

#at-btn {
  width: 100%;
  margin-top: 13px;
  background: #299854;
  color: #ffffff;
}
