<template name="atFormReplace">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      <img src="https:////d39bdf0d2aybn7.cloudfront.net/images/menu.svg" class="icon" />
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="no-header no-footer"}}

      {{#unless hide}}
        <div class="at-form list center">
          <div class="item">
            <img src="https://cdn.trail-status.com/images/trailstatus-light.svg" class="logo">
          </div>
          {{#if showTitle}}
            <div class="item">
            {{> atTitle}}
            </div>
          {{/if}}
          {{#if showError}}
            <div class="item">
            {{> atError}}
            </div>
          {{/if}}
          {{#if showResult}}
            <div class="item">
            {{> atResult}}
            </div>
          {{/if}}
          {{#if showMessage}}
            <div class="item">
            {{> atMessage}}
            </div>
          {{/if}}
          {{#if showOauthServices}}
            <div class="item">
              {{> atOauth}}
            </div>
          {{/if}}
          {{#if showServicesSeparator}}
            <div class="item">
              {{> atSep}}
            </div>
          {{/if}}
          {{#if showPwdForm}}
            <div class="item">
              {{> atPwdForm}}
            </div>
          {{/if}}
          {{#if showTermsLink}}
            <div class="item">
            {{> atTermsLink}}
            </div>
          {{/if}}
          {{#if showSignInLink}}
            <div class="item">
            {{> atSigninLink}}
            </div>
          {{/if}}
          {{#if showSignUpLink}}
            <div class="item">
            {{> atSignupLink}}
            </div>
          {{/if}}
          {{#if showResendVerificationEmailLink}}
            <div class="item">
            {{> atResendVerificationEmailLink}}
            </div>
          {{/if}}
        </div>
      {{/unless}}

    {{/ionContent}}
  {{/ionView}}
</template>
