<template name="atSocialReplace">
  <button class="{{disabled}} button button-clear button-full" id="at-{{name}}"
          name="{{name}}">
    <img src="https://cdn.trail-status.com/images/{{name}}.svg" /> {{buttonText}}
  </button>
</template>
