<template name="TrailsNew">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="trails"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <img
        src="https://cdn.trail-status.com/images/trail-status-logo-text.svg"
        class="logo-header"/>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="no-footer"}}
      {{#autoForm collection="PendingTrails" id="insertPendingTrailsForm"
      type="insert"}}
        <div class="list">
          <label class="item item-input item-stacked-label">
            {{> afQuickField name='name'}}
          </label>
          <label class="item item-input item-stacked-label">
            {{> afQuickField name='shortName'}}
          </label>
          <label class="item item-input item-stacked-label"
                 style="overflow: visible;">
            {{> afQuickField name="address" type="googleplace"}}
          </label>
          <div class="row" style="color: #AAAAAA;">
            <label class="col item-input item-stacked-label">
              {{> afQuickField name='type'}}
            </label>
            <label class="col item-input item-stacked-label">
              {{> afQuickField name='level'}}
            </label>
          </div>
          <div class="row" style="color: #AAAAAA;">
            <label class="col item-input item-stacked-label">
              {{> afQuickField name='ascent'}}
            </label>
            <label class="col item-input item-stacked-label">
              {{> afQuickField name='descent'}}
            </label>
            <label class="col item-input item-stacked-label">
              {{> afQuickField name='miles'}}
            </label>
          </div>
          <label class="item item-input item-stacked-label">
            {{> afQuickField name='description'}}
          </label>
          <label class="item item-input item-stacked-label">
            {{> afQuickField name='website'}}
          </label>
          <label class="item item-input item-stacked-label">
            {{> afQuickField name='phone'}}
          </label>
          <label class="item item-input item-stacked-label">
            {{> afQuickField name='map'}}
          </label>
          <button type="submit" class="button button-block
          button-balanced">Save</button>
        </div>
      {{/autoForm}}
    {{/ionContent}}
  {{/ionView}}
</template>
