<template name="Home">
  {{#ionView}}
    {{#ionContent class="no-header home" style="top: 0"}}

      <!-- BEGIN HOME -->
      <div class="home">
        <!-- BEGIN HEADER -->
        <header id="header">
          <div id="tophead">
            <div class="container"><a href="https://yazdaapp.com"><img
                src="https://cdn.trail-status.com/images/yazda.png"
                alt="Yazda" width="100"/></a>
              <a class="pull-right trails" href="/trails">Trails!</a>
            </div>
          </div>
          <div class="container">
            <div class="row">

              <!-- BEGIN SLIDER CONTAINER -->
              <div id="slider-container">

                <div class="span6 animated fadeInUp delay2s">
                  <!-- BEGIN IPHONE 5 SLIDER -->
                  <div id="iphone5-slider">
                    <!-- BEGIN FLEXSLIDER -->
                    <div class="flexslider">
                      <ul class="slides">
                        <li>
                          <img
                              src="https://cdn.trail-status.com/images/slides/slide-1.jpg"
                              alt="Trail Status">
                        </li>
                        <li>
                          <img
                              src="https://cdn.trail-status.com/images/slides/slide-2.png"
                              alt="Trail Status">
                        </li>
                        <li>
                          <img
                              src="https://cdn.trail-status.com/images/slides/slide-3.jpg"
                              alt="Trail Status">
                        </li>
                      </ul>
                    </div>
                    <!-- END FLEXSLIDER -->

                  </div>
                  <!-- END IPHONE 5 SLIDER -->
                </div>
                <!-- END SPAN6 -->


                <div class="span6 animated fadeInRight delay3s">
                  <!-- BEGIN SLIDER DESCRIPTION -->
                  <div id="slider-description">

                    <h2>Download Trail Status</h2>

                    <p>Trail Status is the only app that alerts you the moment
                       your favorite MTB trails are open or closed. Hit some
                       gnarly trails as soon as they open!</p>

                    <span class="download-btn applestore"></span>
                    <span class="download-btn googleplay"></span>

                    <p class="socialshare"><a class="fbshare"
                                              href="http://www.facebook.com/sharer/sharer.php?u=https://trail-status.com/&amp;title=Download%20Trail%20Status%20to%20get%20instant%20notifications%20when%20your%20favorite%20trails%20open."><i
                        class="fa fa-facebook-square"></i></a> <a
                        class="twshare"
                        href="http://twitter.com/intent/tweet?status=Download%20Trail%20Status%20to%20get%20instant%20notifications%20when%20your%20favorite%20trails%20are%20open.%20%E2%80%93%C2%A0%40trail_status%20-+https://trail-status.com/"><i
                        class="fa fa-twitter-square"></i></a></p>

                  </div>
                  <!-- END SLIDER DESCRIPTION -->

                </div>
                <!-- END SPAN6 -->
              </div>
              <!-- END SLIDER CONTAINER -->
            </div>
            <!-- END ROW -->
          </div>
          <!-- END CONTAINER -->

          <div class="clear"></div>
        </header>
        <!-- END HEADER -->

        <section class="fold-partners">
          <div class="row">
            <h4 class="col partners-heading">
              <span>Used by...</span>
            </h4>
          </div>
          <div class="row fold-content ">
            <div class="col">
              <div class="partners-logo">
                <a href="http://bestridesdc.com/" target="_blank"><img
                    src="images/bestrides-dc-logo.png" alt="Best Rides DC Logo
                    "/></a>
              </div>
            </div>
            <div class="col">
              <div class="partners-logo">
                <a href="http://www.more-mtb.org/" target="_blank"><img
                    src="images/more-logo.png" alt="Mid-Atlantic Off-Road
                    Enthusiasts Logo"/></a>

              </div>
            </div>
            <div class="col">
              <div class="partners-logo">
                <a href="http://wmbctx.org" target="_blank"><img
                    src="images/wmbctx-logo.jpg" alt="Weatherford Mountain
                    Bike Club Logo"/></a>
              </div>
            </div>
          </div>
        </section>

        <section class="widget">
          <div class="container">
            <div class="row">
              <div class="span12">
                <h1>Get the widget on your website!</h1>
                <h5>The Trail Status widget provides your audience with
                    up-to-date trail conditions and helps your viewers find
                    open MTB trails. Choose between the large or small widget
                    to best engage your fans. Use the search bar to find your
                    favorite trails and get the HTML code to install it to your
                    site.
                </h5>
                <div class="trails-search-wrapper">
                  {{#dropdownTrigger name="trails-dropdown"}}
                    <input type="text" id="trails-search"
                           name="trails-search"
                           placeholder="Search for your trail to get the widget..."/>
                  {{/dropdownTrigger}}
                  {{#dropdown name="trails-dropdown"}}
                    <div class="list">
                      {{#each trails}}
                        <div class="trail-widget-item">
                          {{> TrailItem}}
                        </div>
                      {{/each}}
                    </div>
                  {{/dropdown}}
                </div>

                {{#if selectedId}}
                  <div class="copy-widget">
                    <a href="#" class="button" id="get-widget-small">
                      Get the Large Widget
                    </a>
                      <span>
                      <input type="text"
                             readonly
                             id="widget-small-js"
                             value="&lt;script src=&quot;https://cdn.trail-status.com/widget/loader/dist/widget.load.v1.default.js?id={{selectedId}}&size=large&quot; async&gt;&lt;/script&gt;"/>
                        </span>
                  </div>
                  <div class="copy-widget">
                    <a href="#" class="button" id="get-widget-large">
                      Get the Small Widget
                    </a>
                      <span>
                      <input type="text"
                             id="widget-large-js"
                             readonly
                             value="&lt;script src=&quot;https://cdn.trail-status.com/widget/loader/dist/widget.load.v1.default.js?id={{selectedId}}&size=small&quot; async&gt;&lt;/script&gt;"/>
                        </span>
                  </div>
                {{/if}}

                <div class="pricing-table two"><!-- change "two" for 2
                  columns, "three" for 3 columns, "four" for 4 columns, "five" for 5 columns, "six" for 6 columns -->

                                               <!-- BEGIN PRICING COLUMN -->
                  <div class="pricing-column">
                    <h3>Large</h3>
                    <div class="pricing-column-content">
                      <img
                          src="https://cdn.trail-status.com/images/trail-status-widget-large.png"/>

                      <ul class="features">
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/open-green.svg">
                          Up-to-Date Trail Status
                        </li>
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/open-green.svg">
                          Trail Condition Comments
                        </li>
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/open-green.svg">
                          Trail Photo
                        </li>
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/open-green.svg">
                          Trail Details
                        </li>
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/open-green.svg">
                          Adjustable Width
                        </li>
                      </ul>
                    </div>
                  </div>
                                               <!-- END PRICING COLUMN -->

                                               <!-- BEGIN PRICING COLUMN -->
                  <div class="pricing-column">
                    <h3>Small</h3>
                    <div class="pricing-column-content">
                      <img
                          src="https://cdn.trail-status.com/images/trail-status-widget-small.png"/>

                      <ul class="features">
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/open-green.svg">
                          Up-to-Date Trail Status
                        </li>
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/closed-red.svg">
                          Trail Condition Comments
                        </li>
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/closed-red.svg">
                          Trail Photo
                        </li>
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/closed-red.svg">
                          Trail Details
                        </li>
                        <li><img
                            class="checkmark"
                            src="https://cdn.trail-status.com/images/open-green.svg">
                          Smaller Size
                        </li>
                      </ul>
                    </div>
                  </div>
                                               <!-- END PRICING COLUMN -->

                </div>
              </div>
            </div> <!-- END ROW -->
          </div> <!-- END CONTAINER -->
        </section>

        <!-- BEGIN FOOTER -->
        <footer>

          <!-- BEGIN COPYRIGHT SECTION -->
          <section class="copyright">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <!-- BEGIN FOOTER LOGO -->
                  <div id="logo">
                    <p><a href="/" class="logo"><img
                        src="https://cdn.trail-status.com/images/logo.svg"
                        alt="logo"/></a></p>
                  </div>
                  <!-- END FOOTER LOGO -->

                  <p class="center">&copy; {{year}} Yazda, LLC. All Rights
                                                    Reserved.</p>


                </div>
                <!-- END SPAN -->
              </div>
              <!-- END ROW -->
            </div>
            <!-- END CONTAINER -->
            <div class="clear"></div>
          </section>
          <!-- END COPYRIGHT SECTION -->
        </footer>
        <!-- END FOOTER -->
      </div>
      <!-- END HOME -->
    {{/ionContent}}
  {{/ionView}}

</template>
