@import '../../stylesheets/app-variables';

/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
  #trails-search {
    width: 100%;
    padding: 20px;
    height: 80px;
  }

  .copy-widget {
    position: relative;
    left: 0;
    right: 0;
    margin: 15px 0;
    text-align: left;

    .button {
      display: block;
      float: left;
    }

    span {
      display: block;
      overflow: hidden;
    }

    input {
      width: 100%;
      padding: 20px;
      min-height: 47px;
      right: 0;
    }
  }

  .widget-images {
    margin: 30px 0;
  }

  .widget-description {
    p {
      padding: 35px 20px;
    }

    h3 {
      text-align: center;
    }
  }

  .trails-search-wrapper {
    position: relative;
    z-index: 9;
  }

  .trails-dropdown {
    left: 0 !important;
    right: 0 !important;
  }

  pre {
    max-height: 400px;
    color: #444444;
    padding: 10px;
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    overflow: auto;
    margin: 40px 0;

    code {
      text-align: left !important;
      word-wrap: normal;
    }
  }
}

.fold-partners {
  text-align: center;
  background: $energized;
  background: -moz-linear-gradient(-45deg, $energized 0%, $energized-light 100%);
  background: -webkit-linear-gradient(-45deg, $energized 0%,$energized-light 100%);
  background: linear-gradient(135deg, $energized 0%,$energized-light 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$energized', endColorstr='$energized-light',GradientType=1 );
}
.partners-heading {
  color: $stable;
  background: rgba($white, 0);
  margin-bottom: 20px;
}
.partners-logo {
  background: rgba($energized-light, 0.1);
  padding: 40px 0;
  border: 1px solid rgba($energized, 0.3);
  margin-bottom: rem-calc(15);
  img {
    width: 200px;
    max-width: 80%;
  }
}

