@import '../../../stylesheets/app-variables';

.add-comment {
  padding: 20px auto;

  .item-header {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .item {
    label {
      color: #868686;
      font-size: 11px;
    }

    input[type="checkbox"] {
      width: 13px !important;
      margin-right: 10px;
      vertical-align: middle;
    }

    textarea {
      font-size: 14px;
      color: #303030;
      padding: 10px;
      margin: 15px 0;
      border-radius: 5px;
      height: 100px;
      width: 100%;
    }

    img {
      margin: 0 10px;
    }
  }
}
