<template name="TrailsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="trails"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <img
        src="https://cdn.trail-status.com/images/trail-status-logo-text.svg"
        class="logo-header"/>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <div class="button button-clear button-light" id="share">
      {{#if isIOS}}
        {{> ionIcon icon="ios-upload-outline" }}
      {{else}}
        {{> ionIcon icon="android-share-alt" }}
      {{/if}}
    </div>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="has-footer"}}
      <div class="outter-wrapper">
        <div class="trail-name">
          <h1>{{name}}</h1>
          <div>{{city}}</div>
          <div class="date-stamp">Last Updated: {{lastUpdatedTime}}</div>
        </div>
        <div id="slider">
          {{#if images}}
            {{#each images}}
              {{#if url}}
                <div class="trail-image"
                     style="background-image: url('https://cdn.trail-status.com{{url}}')"></div>
              {{else}}
                <div class="trail-image"
                     style="background-image: url('https://cdn.trail-status.com/{{this}}')"></div>
              {{/if}}
            {{/each}}
          {{else}}
            <div class="trail-image">
              <i class="icon ion-image"></i>
            </div>
          {{/if}}
        </div>
        {{#if comment}}
          <div class="comment-box {{status}}">
            <p>{{comment}}</p>
          </div>
        {{/if}}
        <div class="inner-wrapper">
          <div class="row">
            <div class="col center">
              {{#linkTo route="trails.show.map"}}
                <div class="button button-clear button-light">
                  <img
                      src="https://cdn.trail-status.com/images/map-marker.svg"
                      class="action-button"/>
                </div>
              {{/linkTo}}
            </div>
            <div class="col change-status center">
              <div class="button button-clear button-light">
                <img
                    src="https://cdn.trail-status.com/images/{{statusImageSrc}}"
                    class="action-button"/>
              </div>
            </div>
            <div class="col center">
              <div
                  class="button button-clear button-light {{notificationIcon}}">
                {{> ionIcon icon=notificationIcon }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list show">
        <div class="item">
          <div class="row">
            <div class="col center">
              <div class="stats all-caps">
                miles
              </div>
              <div class="stats-value">
                {{miles}}
              </div>
            </div>
            <div class="col center">
              <div class="stats all-caps">
                Type
              </div>
              <div class="stats-value">
                {{type}}
              </div>
            </div>
            <div class="col center">
              <div class="stats all-caps">
                ascent
              </div>
              <div class="stats-value">
                {{ascent}}'
              </div>
            </div>
            <div class="col center">
              <div class="stats all-caps">
                descent
              </div>
              <div class="stats-value">
                {{descent}}'
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <span class="stats all-caps">Level</span> {{level}}
        </div>
        <div class="item description">
          <h2>About {{name}}</h2>

          <p>{{description}}</p>
        </div>
        {{#if map}}
          <div class="item contact">
          <span class="map">
            <i class="icon ion-map"></i> {{map}}</span>
          </div>
        {{/if}}
        {{#if phone}}
          <div class="item contact">
            <a href="tel:{{phone}}"><img
                src="https://cdn.trail-status.com/images/phone.svg"
                class="icon"/>
              {{phone}}</a>
          </div>
        {{/if}}
        {{#if email}}
          <div class="item contact">
            <a href="mailto:{{email}}" target="_system"><img
                src="https://cdn.trail-status.com/images/envelope-open.svg"
                class="icon"/>
              {{email}}</a>
          </div>
        {{/if}}
        {{#if website}}
          <div class="item contact">
          <span class="link"><img
              src="https://cdn.trail-status.com/images/globe.svg"
              class="icon"/> {{website}}</span>
          </div>
        {{/if}}
      </div>
    {{/ionContent}}
    <div class="bar bar-footer {{status}}">
      <h5 class="title all-caps">Trail Status: <span
          class="bold">{{statusText}}</span></h5>
    </div>
  {{/ionView}}
</template>
