@import '../../../stylesheets/app-variables';

.logo-header {
  text-align: center;
  margin: 0 auto !important;
  vertical-align: middle;
  display: inline-block;
}

.platform-ios .logo-header {
  height: 74px;
}

.platform-android .logo-header, .platform-browser .logo-header {
  height: 44px;
}

.trail-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 2;

  h1 {
    font-family: RobotoRegular;
    font-size: 21px;
  }

  h6 {
    font-family: LatoBold;
    font-size: 12px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $light;
  }
}

#slider {
  height: 100%;
}

.trail-image {
  height: 100%;
  background: center center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba($dark, 0.5) !important;
  background-size: cover;
  z-index: -1;

  .icon {
    padding-top: 120px;
    height: 100%;
    width: 100%;
    font-size: 120px;
    text-align: center;
    display: inline-block;
  }
}

.outter-wrapper {
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba($dark, 0.5) !important;
  height: 376px;
}

.comment-box {
  position: absolute;
  width: 100%;
  bottom: 58px;
  z-index: 999;
  padding: 15px;

  &:after {
    content: '';
    position: absolute;
    left: calc(50% - 20px);
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    clear: both;
  }

  p {
    font-size: 14px;
    color: $light !important;
    margin: 0;
  }

  &.open {
    background-color: $open-color-rgba !important;

    &:after {
      border-top: 20px solid $open-color-rgba !important;
    }
  }

  &.caution {
    background-color: $caution-color-rgba !important;

    &:after {
      border-top: 20px solid $caution-color-rgba !important;
    }
  }

  &.closed {
    background-color: $closed-color-rgba !important;

    &:after {
      border-top: 20px solid $closed-color-rgba !important;
    }
  }

  &.snow {
    background-color: $snow-color-rgba !important;

    &:after {
      border-top: 20px solid $snow-color-rgba !important;
    }
  }
}

.inner-wrapper {
  position: absolute;
  color: #FFFFFF;
  top: 318px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 64px;
}

.item {
  .stats {
    font-size: 12px;
    color: #299855;
  }
  .stats-value {
    font-size: 14px;
  }
}

.action-button {
  font-size: 27px;
  height: 27px;
  margin: auto;
  vertical-align: middle;
}

.show {
  .item {
    background-color: #1A1A1A;
    color: #FFFFFF;
    border: 1px solid #303030;

    :first-child {
      border-top: none;
    }

    a {
      text-decoration: none;
      color: #FFFFFF;
    }

    .icon {
      vertical-align: middle;
    }
  }

  .description {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #252525;

    h2 {
      color: #FFFFFF;
    }

    p {
      white-space: normal;
      word-wrap: break-word;
      font-style: italic;
    }
  }

  .contact {
    background-color: #515151;
    border-bottom: 1px solid #1A1A1A;
  }
}

.bar {
  &.bar-footer {
    &.open {
      background-color: $open-color !important;
    }

    &.closed {
      background-color: $closed-color !important;
    }

    &.caution {
      background-color: $caution-color !important;
    }

    &.snow {
      background-color: $snow-color !important;
    }
  }
}

.popup-container {
  position: relative !important;
  margin: 74px 0 0 0;

  i {
    font-size: 21px;
    color: #6A6A6A;

    .close-popup {
      position: fixed;
      font-size: 27px !important;
      top: 0;
      right: 0;
    }
  }

  .status-change {
    color: $light;
    text-align: center;

    img {
      margin-right: 10px;
    }

    li {
      &.item {
        margin: 0 30px;
        padding: 12px 63px;

        .status-item {
          display: inline-block;
          text-align: left;
          width: 116px;
        }

        &.item-title {
          text-align: center;
          margin: 0px !important;
          padding: 2px 20px;
        }
      }
    }
  }

  .popup-body {
    .list {
      .item {
        font-family: RobotoRegular;
        font-size: 18px;
        background-color: transparent;
        border-width: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        font-size: 17px;
        color: $light;

        &:last-child {
          border: none !important;
        }

        img {
          vertical-align: middle;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

.middle {
  vertical-align: middle;
}

.ion-android-star-outline, .ion-android-star {
  font-size: 27px !important;
}

#toast-container {
  top: initial;
  bottom: 12px;
  left: 22px;
  right: 22px;

  .toast {
    width: 100%;
    text-align: center;
    padding: 8px;
  }

  .toast-info {
    background-image: none !important;
  }
}
