<template name="StatusChange">
  <ul class="list status-change">
    <li class="item item-title">
      What's it like out there?
      <i class="icon ion-ios-close-empty pull-right close-popup"></i>
    </li>
    <li class="item open">
      <div class="status-item">
        <img src="https://cdn.trail-status.com/images/open-green.svg"/>
        <span class="all-caps">open</span>
      </div>
    </li>
    <li class="item caution">
      <div class="status-item">
        <img
            src="https://cdn.trail-status.com/images/caution-yellow.svg"/>
        <span class="all-caps">caution</span>
      </div>
    </li>
    <li class="item closed">
      <div class="status-item">
        <img src="https://cdn.trail-status.com/images/closed-red.svg"/>
        <span class="all-caps">closed</span>
      </div>
    </li>
    <li class="item snow">
      <div class="status-item">
        <img src="https://cdn.trail-status.com/images/snow-blue.svg"/>
        <span class="all-caps">snowy</span>
      </div>
    </li>
    <li class="item close-popup" style="text-align: center;">
      <span class="all-caps">cancel</span>
    </li>
  </ul>
</template>
