<template name="Loading">
  {{#ionBody}}
    {{#ionView}}
      {{#ionContent}}
        <div style="display: flex; justify-content: center; align-items:
        center;">
          {{> ionSpinner icon="lines"}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{/ionBody}}
</template>
