<template name="TrailItem">
  <div class="trail-item item {{status}}"
       style="background: url('https://cdn.trail-status.com{{trailImage}}')">
    <h2>{{name}}</h2>
    <h6>{{city}}</h6>
    <h6 class="date-stamp">Last Updated: {{lastUpdatedTime}}</h6>
    <div class="trail-status">
      <img
          src="https://cdn.trail-status.com/images/{{statusImageSrc}}"
          class="action-button"
          align="middle"/>
      <span class="all-caps">{{statusText}}</span>
    </div>
    <div class="bottom-right">
      <div class="button button-icon button-clear comment">
        {{#if comment}}
          <i class="action-button ion-chatbubble"></i>
        {{/if}}
      </div>
      <div class="button button-icon button-clear notification">
        <i class="action-button
                  {{#if notifiesStatusOfTrail _id}}
                  ion-android-star
                  {{else}}
                    ion-android-star-outline
                  {{/if}}
                  "></i>
      </div>
    </div>
  </div>
</template>
