<template name="TrailsShowMap">
  {{#contentFor "headerButtonLeft"}}
    {{#linkTo route="trails.show" class="button button-clear"}}
      {{>ionNavBackButton path="trails.show"}}
    {{/linkTo}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h2 class="center">Trail Map</h2>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear navigate">
      {{#if isIOS}}
        {{> ionIcon icon="ios-navigate" }}
      {{else}}
        {{> ionIcon icon="android-navigate" }}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="has-footer"}}
      <div class="trail-map-container">
          {{> googleMap name=name options=mapOptions}}
      </div>
    {{/ionContent}}
    <div class="bar bar-footer {{status}}">
      <h5 class="title all-caps">Trail Status: <span
          class="bold">{{statusText}}</span></h5>
    </div>
  {{/ionView}}
</template>
