<template name="PendingTrails">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      <img src="https://cdn.trail-status.com/images/menu.svg"
           class="icon"/>
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <img
        src="https://cdn.trail-status.com/images/trail-status-logo-text.svg"
        class="logo-header"/>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="list full">
        {{#each trails}}
          <div class="trail-item item item-text-wrap">
            <h2>{{name}}</h2>
            <h3>{{location}}</h3>
            <p>{{description}}</p>
          </div>
        {{/each}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
