<template name="Wizard">
  {{#contentFor "headerTitle"}}
    <img
        src="https://cdn.trail-status.com/images/trail-status-logo-text.svg"
        class="logo-header"/>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionSlideBox}}
        {{#ionSlide}}
          <h1 class="text-center">Welcome to Trail Status</h1>
          <div class="list card text-center">
            <div class="item item-dark item-image">
              <img src="images/muddy-tracks.jpg"/>
            </div>
            <div class="item item-dark item-body">
              <p>The best way to get instant notifications when trail
                 conditions change at your favorite places to ride.
              </p>
            </div>
          </div>
        {{/ionSlide}}
        {{#ionSlide}}
          <h1 class="text-center">Get Notifications</h1>
          <div class="list card text-center">
            <div class="item item-dark item-image">
              <img src="images/notifications.png"/>
            </div>
            <div class="item item-dark item-body">
              <p>Turn on notifications for your favorite trails.</p>
            </div>
          </div>
        {{/ionSlide}}
        {{#ionSlide}}
          <h1 class="text-center">Update conditions</h1>
          <div class="list card text-center">
            <div class="item item-dark item-image">
              <img src="images/status-change.png"/>
            </div>
            <div class="item item-dark item-body">
              <p>Change the trail status, and alert the MTB community.</p>
            </div>
          </div>
        {{/ionSlide}}
      {{/ionSlideBox}}
    {{/ionContent}}
  {{/ionView}}
  <div class="bar bar-footer bar-assertive">
    <div class="get-started title">
      Get the Trails!
    </div>
  </div>
</template>
