<template name="TrailShare">
  <div class="list">
    <div class="item item-title">
      Share the conditions!
      <i class="icon ion-ios-close-empty pull-right close-popup"></i>
    </div>
    <div class="row item">
      <div class="col-25 text-center">
        <button
            class="button icon ion-social-facebook button-facebook"></button>
      </div>
      <div class="col-25 text-center">
        <button class="button icon ion-social-twitter button-twitter"></button>
      </div>
      <div class="col-25 text-center">
        <button class="button icon button-message ion-ios-chatbubble">
        </button>
      </div>
      <div class="col-25 text-center">
        <button class="button icon button-email ion-ios-email">
        </button>
      </div>
    </div>
  </div>
</template>
