@import '../../stylesheets/app-variables';

.button-facebook {
  background-color: $facebook-color !important;
  border-color: $facebook-color !important;
  color: $light !important;

  &:hover {
    background-color: $facebook-color !important;
    border-color: $facebook-color !important;
    color: $light !important;
  }
}

.button-twitter {
  background-color: $twitter-color !important;
  border-color: $twitter-color !important;
  color: $light !important;

  &:hover {
    background-color: $twitter-color !important;
    border-color: $twitter-color !important;
    color: $light !important;
  }
}

.button-email {
  background-color: $email-color !important;
  border-color: $email-color !important;
  color: $light !important;

  &:hover {
    background-color: $email-color !important;
    border-color: $email-color !important;
    color: $light !important;
  }
}

.button-message {
  background-color: $message-color !important;
  border-color: $message-color !important;
  color: $light !important;

  &:hover {
    background-color: $message-color !important;
    border-color: $message-color !important;
    color: $light !important;
  }
}
