@import '../../../stylesheets/app-variables';

.date-stamp {
  font-family: RobotoRegular;
  font-size: 9px;
}

.trail-item {
  text-align: left;
  height: 120px;
  background-color: $dark !important;
  background-size: cover !important;
  background-position-x: center !important;
  background-position-y: center !important;
  background-repeat: no-repeat;

  &.item {
    padding: 15px;
    margin-bottom: 5px;
    border: none !important;
  }

  &.open {
    box-shadow: inset 0 0 0 1000px $open-color-rgba !important;
  }

  &.closed {
    box-shadow: inset 0 0 0 1000px $closed-color-rgba !important;
  }

  &.caution {
    box-shadow: inset 0 0 0 1000px $caution-color-rgba !important;
  }

  &.snow {
    box-shadow: inset 0 0 0 1000px $snow-color-rgba !important;
  }

  h2{
    font-family: LatoBold;
    font-size: 16px;
  }

  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 8px;

    .comment {
      img {
        height: 23px;
        vertical-align: middle;
      }
    }

    .notification {
      color: $light;

      &:before {
        font-size: 27px;
      }
    }
  }

  .trail-status {
    font-family: RobotoRegular;
    font-size: 16px;
    position: absolute;
    height: 22px;
    width: 100%;
    color: white;
    bottom: 12px;
    left: 16px;

    .action-button {
      height: 17px;
      bottom: 4px;
    }

    span {
      padding-left: 6px;
    }
  }
}

.trails-index.has-footer {
  bottom: 0;
}

.vertical-align {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 340px) {
  .vertical-align {
    padding-top: 70px !important;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -moz-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}

.no-trails-btn {
  padding: 30px 0;
  height: 575px;
  border: 1px solid $dark !important;
  padding: 20px 0 30px !important;
  background-color: rgba($dark, 0.9) !important;
  h1, h2, h4 {
    color: $stable;
    font-weight: 300;
  }
  .no-trails-logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  span {
    font-weight: 700;
  }
}

.bold {
  font-weight: bold;
}
