<template name="TrailsIndex">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      <img src="https://cdn.trail-status.com/images/menu.svg"
           class="icon"/>
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    {{#if isSearch}}
      <div class="item-input-inset" style="width: 100%">
        <label class="item-input-wrapper">
          <input type="text" id="trails-search" placeholder="search trails..
          ." value="{{value}}"/>
        </label>
        <button class="button button-clear cancel">Cancel</button>
      </div>
    {{else}}
      <img
          src="https://cdn.trail-status.com/images/trail-status-logo-text.svg"
          class="logo-header"/>
    {{/if}}
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    {{#unless isSearch}}
      <button class="button button-clear pull-right search">
        <i class="icon ion-ios-search-strong"></i>
      </button>
    {{/unless}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="trails-index"}}
      <div class="list">
        {{#if noTrails}}
          <div class="item vertical-align no-trails-btn">
            <div class="row">
              <div class="col text-center">
                <img class="no-trails-logo" src="https://cdn.trail-status.com/images/trailstatus-light.svg">
                <h2>Add your <span class="bold">favorite</span> trails to
                    your dashboard.
                  <br>Start by <span class="bold">searching now!</span></h2>
              </div>
            </div>
          </div>
          {{/if}}
        {{#each trails}}
          {{#linkTo route="trails.show"}}
            {{> TrailItem}}
          {{/linkTo}}
        {{/each}}
        {{#if moreResults}}
          <div id="showMoreResults">
            {{> ionSpinner icon="lines"}}
          </div>
        {{/if}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
