// colors
@font-face {
  font-family: 'RobotoRegular';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'RobotoBold';
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'LatoRegular';
  src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'LatoBold';
  src: url(/fonts/Lato/Lato-Bold.ttf);
}

@import '_app-variables.scss';
@import '{hashwin:ionic-sass}/ionic';
@import '{hashwin:ionicons-sass}/ionicons';

h1 {
  font-family: 'LatoBold' !important;
}

h2, h3, h4 {
  font-family: 'RobotoBold' !important;
}

html, body {
  height: 100%;
  margin: 0;
  color: #FFFFFF;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  font-family: 'RobotoRegular';
}

p {
  font-family: 'LatoRegular';
}

.bold {
  font-family: 'RobotoBold';
}

.all-caps {
  text-transform: uppercase;
}

.center {
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 17px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  img {

  }
}

.bar-footer {
  color: $light;

  .title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu-left {
  background-color: $light;

  .list {
    padding: 0 20px;
  }

  .item {
    font-family: LatoRegular;
    background-color: transparent;
    font-size: 16px;
    color: #299855;
    border: none;
    border-bottom: 1px solid rgba(41, 152, 85, 0.35);
    margin: 0 20px;
    padding: 20px;

    .badge {
      right: 12px;
      top: 20px;
    }

    &:last-child {
      border-bottom: none;
    }

    a .oi {
      margin-right: 15px;
      margin-left: -15px;
      color: rgba(41, 152, 85, 0.35);
    }
  }

  .bar-header {
    height: 165px !important;
    border-bottom: none !important;

    .title {
      height: 100%;

      img {
        height: 120px;
      }
    }
  }

  .has-header {
    top: 165px !important;
  }
}

.no-header {
  top: 0 !important;
}

.no-footer {
  bottom: 0 !important;
}

.content {
  z-index: -10;
}

.scroll-content {
  z-index: 999;
}

a {
  color: #299854;
}

.item {
  p {
    color: #FFFFFF;
  }

  a {
    text-decoration: none;
  }
}

.logo {
  margin-top: 15px;
  height: 175px;
}

.icon {
  height: 29px;
  padding: 3px;
  font-size: 29px;
}

.home {
  color: #FFFFFF;

  h1 {
    color: #FFFFFF;
  }

  .home-content {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
  }

  .description {
    margin: 0 30px;
  }
}

.app-store-content {
  width: 45%;
  display: inline-block;
}

.app-store {
  text-align: center;
  width: 75%;
  max-width: 200px;
  margin: 0 auto;
}

.download {
  position: fixed;
  bottom: 140px;
  width: 100%;
  max-width: 700px;
}

.copyright-app {
  display: inline-block;
  width: 100%;
}

#share {
  z-index: 400;
}

.bar-copyright {
  color: #303030;
  background-color: #f1f1f1;

  p {
    font-family: LatoRegular;
    font-size: 12px;
  }
}

.item-stacked-label input, .item-stacked-label select, .item-stacked-label textarea {
  color: $light;
}

.help-block {
  color: red;
}

@media (min-width: 770px) {
  .snap-content {
    margin-left: 256px;
    max-width: calc(100% - 256px);
  }
  .snap-content .menu-toggle-icon {
    display: none;
  }

  .snap-drawer-left {
    position: absolute;
  }
  .snap-drawer-left .bar {
    width: 246px;
    right: auto;
    left: auto;
  }
}
@media (min-width: 1026px) {
}

.item-icon-left {
  padding-left: 54px !important;
}

.icon-strava {
  width: 32px;
}
