<template name="status_ionic">
  {{#unless connected}}
    {{#ionSubheaderBar class="bar-assertive text-center"}}
      <p id="disconnected">
        <i class="icon ion-alert-circled"></i> <span class="bold">{{message}}</span>
        {{extraMessage}}

        {{#if showReconnect}}
          <a href="#" class="bold alert-link light">{{reconnectLabel}}</a>
        {{/if}}
      </p>
    {{/ionSubheaderBar}}
  {{/unless}}
</template>
