<template name="UsersIndex">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      <img src="https://cdn.trail-status.com/images/menu.svg" class="icon"/>
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <img src="https://cdn.trail-status.com/images/trail-status-logo-text.svg"
    class="logo-header"/>
  {{/contentFor}}

  {{> reactiveTable settings=settings }}
</template>
